:root {
  --gray: #e5e7e8f1;
  --blue: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  padding-left: 5vw;
  padding-right: 5vw;
} */
header {
  font-size: 16px;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
}
nav a {
  text-decoration: none;
}
img {
  width: 100%;
}

.carousel-inner {
  border-radius: 10px;
}
.border-radius {
  border-radius: 10px;
}

.gray-color {
  background-color: var(--gray);
}
.shadow {
  box-shadow: 8px 9px 19px 1px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}


.popular_item_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  
}

.btn__blue {
  color: white;
  background-color: var(--blue);
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}
.active-btn__blue {
  background-color: white;
  color:  var(--blue);
  border-color: var(--blue);
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}
.popular_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  padding-bottom: 1.5rem;
  flex-basis: 30%;
  
}
.popular_item img {
  width: 80%;
}

.popular_item__btn {
  width: 90%;
}
