* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-left: 5vw;
  padding-right: 5vw;
}
header {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
}
